<ion-header>
  <ion-toolbar>
    <ion-title>
      Tooltip Test - Good
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p tooltip="I'm a tooltip"> If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>

  <button ion-button tooltip="I'm a tooltip below a button" positionV="bottom" arrow>
  Press me to see a tooltip
</button>



<!-- <img src="https://ionicframework.com/img/ionic-logo-blog.png" class="tooltip" title="Game<br/>Nicholls" animation="fade"> -->

<button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>
</ion-content>


