<div id="custom-overlay" [style.display]="showSplash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <h3 class="tracking-in-expand" style="color:#fff;   font: 60px/1 'TeXGyreAdventorBold';">HERO</h3>
    <div class="Aligner-item Aligner-item--bottom">
    </div>
  </div>
</div>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
    your guide.</p>
</ion-content>