<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  <a href='about-us'>About Us</a>
  <a [routerLink]='aboutus' routerDirection="forward">AAbout Us ION LINK</a>
  <!-- <ion-item [routerLink]="'/about-us/' + item.id" routerDirection="forward">About Us ION LINK</ion-item> -->
</ion-content>
